[user]
	name = Sean Leather

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	st = status
	lo = log
	di = diff
	dt = difftool
	co = checkout
	ci = commit
	br = branch

[push]
	default = simple

[branch]
	autosetuprebase = always

[include]
	path = .gitconfig.local

[diff]
	tool = vimdiff
