[user]
	name = Sean Leather

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	st = status
	ls = ls-files
	lo = log
	lop = log -p
	gr = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	di = diff
	dt = difftool
	co = checkout
	ci = commit
	br = branch -vv
	rem = remote -v
	up = "!git remote update -p; git merge --ff-only @{u}"

[push]
	# Always assume current branch for pushing
	default = current

[branch]
	autosetuprebase = always

[include]
	path = .gitconfig.local

[diff]
	tool = vimdiff
	renames = true
