[user]
	name = Sean Leather

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	st = status
	lo = log
	lop = log -p
	di = diff
	dt = difftool
	co = checkout
	ci = commit
	br = branch -vv
	rem = remote -v
	up = "!git remote update -p; git merge --ff-only @{u}"

[push]
	# Always assume current branch for pushing
	default = current

[branch]
	autosetuprebase = always

[include]
	path = .gitconfig.local

[diff]
	tool = vimdiff
